{% extends "base.html"%}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block guide %}
{% endblock %}

{% block content %}
<div id="Content" class="wrapper topSection">
	<div id="Header">
	<div class="wrapper">
		<div class="logo"><h1><img src="{% static 'home/images/cippus-sss.png' %}"/></h1>	</div>
		</div>
	</div>
	<h2>This Is a Demo</h2>
<!--div class="countdown styled"></div>
</div>
</section>
<section class="subscribe spacing">
<div class="container">

<div-- id="subscribe">
<h3>Subscribe To Get Notified</h3>
	<form method="POST" action="subscribe.php">
		<p class="subscribe-input"><input type="text" name="Email" size="20" placeholder="Subscribe your e-mail Id" value=""><input type="submit" value="Submit" name="Submit"></p>
	</form>

	<div id="socialIcons">
		<ul>
			<li><a href="" title="Twitter" class="twitterIcon"></a></li>
			<li><a href="" title="facebook" class="facebookIcon"></a></li>
			<li><a href="" title="linkedIn" class="linkedInIcon"></a></li>
			<li><a href="" title="Pintrest" class="pintrestIcon"></a></li>
		</ul>
	</div>
</div-->

</div>
{% endblock %}

{% block content2 %}
<section class="features spacing">
  <div class="container">
    <h2 class="text-center">GROUPS</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center icon"><i class="icon-strategy"></i></div>
          <div class="col-md-9 col-sm-9 col-xs-9"> 
            <!--features 1-->
            <h4>深度学习/数据挖掘</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.</p>
            <!--features 1 end--> 
          </div>
        </div>
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center icon"><i class="icon-mobile"></i></div>
          <div class="col-md-9 col-sm-9 col-xs-9"> 
            <!--features 2-->
            <h4>  安  卓  </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.</p>
            <!--features 2 end-->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center icon"><i class="icon-target"></i></div>
          <div class="col-md-9 col-sm-9 col-xs-9"> 
            <!--features 3-->
            <h4>  游  戏  </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.</p>
            <!--features 3 end-->
          </div>
        </div>
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center icon"><i class="icon-upload"></i></div>
          <div class="col-md-9 col-sm-9 col-xs-9"> 
            <!--features 4-->
            <h4> 网 络 安 全 </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.</p>
            <!--features 4 end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

