.form-group {
    color:#000;
    display:block;
    margin:auto;
    width:300px;
    background: url(../images/bg.jpg) top left repeat;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	border-color: #FFF;
}

.form-line {
    color:#000;
    margin:auto;
    padding:15px;
    text-align:center;
}
.btn {
    color:#000;
    display:block;
    margin:auto;
    text-align:center;
}