
.table{
    background:#e44f51;
    margin:0 auto;
    padding:0 auto;
    position:relative;
    width:70%;
}

tr{
    color:#FFF;
    background:#e44f51;
}
.table-hover tbody tr:hover:hover{
    background-color:#CD5C5C;
}
th{

    background:#e44f51;
}