{% extends 'base.html' %}
{% load static %}


{% block guide%}

{% endblock%}

{% block content%}
<link rel="stylesheet" type="text/css" href="{%static 'rank/css/styles.css'%}">

<h2 style="text-align:center;"> Rank List</h2>

<table class="table table-hover">
    <tr>
        <th>Rank Name</th>
        <th>Pub date</th>
        <th>Submission</th>
        <th>State</th>
    </tr>
    {%for rank in rank_list%}
    <tr onclick="location.href='/rank/{{rank.id}}'">
        <td>{{rank.title}}</td>
        <td>{{rank.pub_date}}</td>
        <td>{{rank.submission}}</td>
        <td>{{rank.state}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}